{% extends "layout.html" %}

{% macro form_field(form, name) %}
	{% set field = form[name] %}
	{% set errors = form.errors.get(name, []) %}
	<div class="form-group {{ "has-error" if errors else "has-success" }}">
		{{ field.label(class="error") if errors else field.label }}
		{{ field(class="form-control") }}
		{% for error in errors %}
		<p class="control-label has-error">{{ error }}</p>
		{% endfor %}
	</div>
{% endmacro %}

{% block body %}
<h1>ROCA<i>proof</i></h1>
<h2>illustrating <a href="http://roca-style.org">ROCA</a>-style validation</h2>

<form action="{{ url_for("frontpage") }}" method="post">
	{{ form.csrf_token }}

	{{ form_field(form, "username") }}
	{{ form_field(form, "email") }}
	{{ form_field(form, "password") }}
	<input type="submit" class="btn btn-default">
</form>
{% endblock %}
