<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>{{ title }}</title>
	<link rel="stylesheet"
			href="{{ url_for("static", filename="main.css") }}">
	<link rel="stylesheet"
			href="{{ url_for("static", filename="bootsketch/css/bootsketch.css") }}">
</head>

<body>
	<h1>ROCA<i>proof</i></h1>
	<h2>illustrating <a href="http://roca-style.org">ROCA</a>-style validation</h2>

	{% with messages = get_flashed_messages(with_categories=true) %}
		{% for category, message in messages %}
		{% set class = "alert-danger" if category == "error" else "alert-success" %}
		<p class="alert {{ class }}">{{ message }}</p>
		{% endfor %}
	{% endwith %}

	{% block body %}{% endblock %}

	<script src="{{ url_for("static", filename="bundle.js") }}"></script>
</body>

</html>
